{% extends 'base.html' %}

{% block title %}Analyze Product{% endblock %}

{% block content %}
<section class="vh-50" style="background-color: #f8f9fa;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="fw-bold mb-4 text-uppercase">Analyze a Registered Product</h2>
                        <form method="post" action="{% url 'analyze_product' %}">
                            {% csrf_token %}
                            
                            <div class="form-outline mb-4">
                                <label class="form-label" for="asin">Select Product to Analyze</label>
                                <select name="asin" id="asin" class="form-select" required>
                                    <option value="" disabled selected>Select ASIN</option>
                                    {% for product in user.registered_products.all %}
                                        <option value="{{ product.asin }}">{{ product.product_name }} ({{ product.asin }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-block">Analyze</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block extra_css %}
<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }
</style>
{% endblock %}
{% endblock %}
