{% extends 'base.html' %}

{% load static %}

{% block title %}Register Product{% endblock %}

{% block content %}
<section class="vh-50" style="background-color: #f8f9fa;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="fw-bold mb-4 text-uppercase">Register a Product</h2>
                        <form method="post" action="{% url 'registrations:register_product' %}">
                            {% csrf_token %}
                            
                            <div class="form-outline mb-4">
                                <label class="form-label" for="asin">ASIN</label>
                                <input type="text" name="asin" id="asin" class="form-control form-control-lg" required placeholder="Enter ASIN"/>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% block extra_css %}
<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }

    .vh-100 {
        height: 100vh;
    }

    .card:hover {
        transform: scale(1.02);
        transition: transform 0.3s;
    }

    .form-label {
        font-weight: 600;
    }

    .btn-primary {
        background-color: #0d6efd;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0b5ed7;
    }
</style>
{% endblock %}
{% endblock %}
